#container {
	width: 1000px;
	margin:auto;
}
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.domain {
	height:1px;
}

