#container {
	width: 1000px;
	margin:auto;
	background: #2E4172;
}

text {
	color:#fff;
}

#visualization {
	position: relative;
	
}

#y-axis line {
	display: none;
}
#boxes {
	width: 100%;
}


.axis {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis text {
 
    font-size: 15px;
    font-family: helvetica;
    color: #000;
    fill: #fff;
    stroke: #fff;
}

.axis {
	color:#fff;
}

.domain {
	height:1px;
}

.colorbox {
	width:15px;
	height: 15px;
	display: inline-block;
	margin-right:5px;
}

li {
	list-style: none;
}
