
#container {
	width: 1000px;
	margin:auto;
	
}

#background {
	background: #2E4172;
	position: relative;
}

text {
	color:#fff;
}

#visualization {
	position: relative;
	
}


#boxes {
	width: 100%;
}


.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
 
    font-size: 15px;
    font-family: helvetica;
    color: #000;
    fill: #000;
    stroke: #000;
}


.domain {
	stroke-width:3px;
}

.colorbox {
	width:15px;
	height: 15px;
	display: inline-block;
	margin-right:5px;
}

li {
	list-style: none;
}

.tick line {
	opacity: .2;
}


